<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center gif">
            <img src="img/cryptogif.gif"/>
          </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Decentralized Storage Makes the Web Robust and Resilient</h2>
                <hr class="light">
                <p class="text-faded">Consider addressing information by what it is, not where it is.  To do this we need to use a different kind of web link.  Instead of using links that point to locations, we need links that uniquely describe the content itself - like a fingerprint.  This content-addressed approach separates “what” from “where”, so data can flow through the network, <strong>so it can be stored and served from anywhere by anyone.</strong></p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
