<header>
    <div class="header-content">
        <div class="header-content-inner">
          <div class="fullscreen-bg">
            <video loop muted autoplay poster="img/frame.png" class="fullscreen-bg_video">
              <source src="img/abstract_network.mp4" type="video/mp4">
            </video>
            <div class="header-wording">
              <h1>A Next Generation Storage Solution Powered By Blockchain Technology</h1>
              <hr>
              <p>Seamlus Drive is a Decentralized File Storage Appliance with Open Source Mining Software that Connects to a Peer-to-Peer Distributed Network Protocol Powered and Secured by a Blockchain</p>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
          </div>

        </div>
    </div>
</header>
