<header>
    <div class="header-content">
        <div class="header-content-inner">
          <div class="fullscreen-bg">
<!--            <video loop muted autoplay poster="img/frame.png" class="fullscreen-bg_video">
              <source src="img/abstract_network.mp4" type="video/mp4">
            </video>-->
            <div class="header-wording">
              <h1>A data storage service provider powered by Filecoin - a decentralized storage network protocol.</h1>
              <hr>
              <a href="mailto:info@seamlusdrive.io" class="btn btn-default btn-xl">Find Out More</a>
            </div>
          </div>

        </div>
    </div>
</header>
