<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 portolio-images">
              <img src="img/sticks.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 portolio-images">
              <img src="img/seamlus.JPG" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 portolio-images">
              <img src="img/samsung-2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 portolio-images">
              <img src="img/server-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 portolio-images">
              <img src="img/ssd.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6 portolio-images">
              <img src="img/hardware-2.JPG" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
